<% include ./templates/header %>
<% include ./templates/menu%>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h4 class="page-head-line">Inicio</h4>
      </div>
  </div>
<%include ./templates/scripts %>
<script>
</script>
<%include ./templates/footer %>
