<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">
                <img src="assets/img/simulacion.png" />
            </a>
        </div>
        <div class="left-div">
            <div class="user-settings-wrapper">
                <ul class="nav">
                    <li class="dropdown">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- LOGO HEADER END-->
<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="detalleSemilleros">Detalle semilleros</a></li>
                        <li><a href="listaSemilleros">Editar Semilleros</a></li>
                        <li><a href="crearSemillero">Crear semillero</a></li>
                        <li><a href="detallePublicaciones">Detalle publicaciones</a></li>
                        <li><a href="listaPublicaciones">Editar publicaciones</a></li>
                        <li><a href="crearPublicaciones">Crear publicaciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
